rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite acesso ao próprio perfil para leitura, escrita e criação
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Permite leitura de serviços predefinidos para usuários logados
    match /predefinedServices/{serviceId} {
      allow read: if request.auth != null;
      allow write: if false; // Ninguém pode escrever/modificar/excluir esses itens
    }

    // Nega acesso a qualquer outra coleção ou documento por padrão (como services, materials, quotations)
    match /{document=**} {
      allow read, write: if false;
    }
  }
}